@import url("../css/header.css");
@import url("../css/main.css");
@import url("../css/footer.css");

/* reset config */
body {
  font-size: 100%;
  background: rgb(2,0,36);
  background: linear-gradient(80deg,rgba(128,17,85,1) 40%, rgba(242,197,255,1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: grid;
  grid-template-areas: 
    "header"
    "main"
    "footer"
  ;
  grid-template-columns: auto;
  grid-template-rows: 150px 100vh 100px;
}
/*  */

/* Variáveis */
  :root {
    --btn-color: #ff5dffc9;
    --btn-hover: rgba(255, 93, 255, 0.522);
    --cinza-alternativo: rgb(167, 167, 167);
  }
/*  */
